<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base:: layout(~{::title},~{::section} )}">
>
<head>
<meta charset="UTF-8">
<title>Register Notes</title>
</head>
<body>
	<section>
		<div class="container mt-2">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center">
							<h3><i class="fa-solid fa-id-card"></i>REGISTRATION</h3>
							<th:block th:if="${session.msg}">
							<p class="fs-5 text-center text-success">[[${session.msg}]]</p>
							<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form th:action="@{/saveUser}" method="post">

								<div class="mb-3">
									<label>Enter Name</label> <input type="text"
										class="form-control" name="name">
								</div>

								<div class="mb-3">
									<label>Enter Qualification</label> <input type="text"
										class="form-control" name="qualification">
								</div>

								<div class="mb-3">
									<label>Enter Address</label> <input type="text"
										class="form-control" name="address">
								</div>


								<div class="mb-3">
									<label>Enter Email</label> <input type="email"
										class="form-control" name="email">
								</div>
								<div class="mb-3">
									<label>Enter Password</label> <input type="password"
										class="form-control" name="password">


								</div>
								<div class="mb-3">
									<label>Gender</label>

									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender"
											id="inlineRadio1" value="Male"> <label
											class="form-check-label" for="inlineRadio1">Male</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="gender"
											id="inlineRadio2" value="Female"> <label
											class="form-check-label" for="inlineRadio2">Female</label>
									</div>

								</div>



								<div class="text-center">
									<button type="submit" class="btn btn-primary">Register</button>
									<button type="reset" class="btn btn-primary">Reset</button>
								</div>
								<div class="text-center"></div>

							</form>


						</div>


					</div>
				</div>
			</div>
		</div>





	</section>
</body>
</html>